body {
      font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
      line-height: 1.8;
	  color: #000000 ;
      background-color: #A9D3A9  ;
  }
h1 {
	  color: #49BC4C;
	  background-color: inherit;
	  font-size: 60px;
      text-transform: uppercase;
      padding: 25px 25px;
      text-align: center;     
  }
h2 {
	  color: #49BC4C ;
	  background-color: inherit;
      text-transform: uppercase;
      padding: 25px 25px;
      text-align: center;     
  }
p {
	font-size: 20px;   
  }
  
h3 {
	  color: #49BC4C ;
	  background-color: inherit;
      text-transform: uppercase;
      padding: 25px 25px;
      text-align: center;     
  }
h4 {
	  background-color:#28D0C6; 
	  color: #49BC4C ;
      text-transform: uppercase;
      padding: 25px 25px;
      text-align: center;     
  }
table {
	  color: #49BC4C ;
	  background-color: inherit;
      text-transform: uppercase;
      text-align: center;
	  width: 100%;
	  border: 2px solid #921E15 ;
  }
th,td{
	color: #49BC4C;
	background-color: #466646 ;
    border: 1px solid #E8F2E8 ;
}

img {
	max-width: 100%;
	height: 300px;
}

/*002*/
nav li {
    display: inline;
    float: left;
	color: inherit;
	background-color: #D4D3BA;
}

/*002*/
nav a{
    display: block;
    padding: 8px;
}

section {
    padding-right: 5.00em;
    padding-left: 5.00em;
    padding-top: 2.00em;
    padding-bottom: 1.00em;
}

a:link,
a:visited {
    background-color: inherit;
    color: #13214D;
}

a:hover,
a:active {
    background-color: inherit;
    color: #807B19 ;
}

video {
	padding-right: 5.00em;
    padding-left: 15.00em;
    padding-top: 2.00em;
    padding-bottom: 1.00em;
}